#name {
  width: 100%;
}

input{
  border: 0 0 2px 0;
}

body{
  font-family: 'Times New Roman', serif;
  background-color: grey;
}

#output {
  color:#f4f5f8;
  background-color:#ffc409;
  width: 85%;
  height: 60px;
  margin-left: 27px;
  border-radius: 25px;
  font-size: 30px;
  padding-top:15px;
}

#ans {
  border: 1px solid black;
  width: 80%;
  border-radius: 25px;
  background-color: white;
  display:flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 #f4f5f8;
}